.footerContainer {
  height: 300px;
  @extend .flexCenter;
  position: relative;

  .footerInformationsContainer {
    height: 150px;
    width: 100%;
    @extend .flexSpaceEvenly;
    align-items: flex-start;

    .footerInformation {
      @extend .flexCenter;
      align-items: flex-start;
      flex-direction: column;

      h5 {
        font-size: 1.3rem;
        margin-bottom: 5px;
      }

      a {
        font-size: 1.05rem;
        opacity: 0.9;
        margin-bottom: 5px;
        cursor: pointer;

        transition: all 200ms ease-in-out;

        &:hover {
          color: $pink-color;
          transform: translateX(0.3rem);
        }
      }

      .socialMedias {
        @extend .flexCenter;

        .socialMedia {
          @extend .flexCenter;

          padding: 10px;
          margin: 0px 3px;
          border-radius: 50%;
          color: $white-color;
          font-size: 1.2rem;
          background-color: $pink-color;
          cursor: pointer;

          transition: all 200ms ease-in-out;

          &:hover {
            background-color: $red-color;
            transform: scale(1.05);
          }
        }
      }
    }

    .footerGravityHosting {
      @extend .flexCenter;
      flex-direction: column;
      text-align: center;

      .footerGravityHostingText {
        @extend .flexCenter;
        flex-direction: column;

        max-width: 280px;

        h4 {
          font-size: 1.8rem;
        }

        p {
          font-size: 1rem;
          opacity: 0.9;
        }
      }

      img {
        height: 100px;
        margin-bottom: 5px;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $pink-color;
    filter: drop-shadow(0 0 1px $pink-color-opacity)
      drop-shadow(0 0 2px $pink-color-opacity)
      drop-shadow(0 0 4px $pink-color-opacity);
  }
}
