.homeContainer {
  min-height: calc(100vh - 100px);

  .topSectionContainer {
    min-height: calc(100vh - 200px);
    background-color: $pink-color;
    color: $white-color;

    background-image: url("../../assets/images/waveBackground.svg");
    background-position: bottom;
    background-repeat: no-repeat;

    padding: 0px 20px;

    @extend .flexSpaceEvenly;

    .textsContainer {
      max-width: 550px;

      h2 {
        font-size: 3rem;
        margin-bottom: 20px;

        line-height: 80px;

        span {
          background-color: $red-color;
          border-radius: 12px;
          padding: 8px 10px;
          color: $white-color;

          font-family: "Poppins", sans-serif;
        }
      }

      p {
        font-size: 1.3rem;
        line-height: 30px;
      }
    }

    img {
      height: calc(70vh - 200px);
    }
  }

  .middleSection {
    background-color: #ddd;

    @extend .flexSpaceAround;
    flex-direction: column;

    padding-bottom: 50px;

    .mainProductsContainer {
      @extend .flexSpaceEvenly;
      flex-wrap: wrap;

      width: 90%;
    }
  }

  .oursBenefitsSection {
    @extend .flexSpaceAround;
    flex-direction: column;

    padding-bottom: 50px;

    .benefitsContainer {
      @extend .flexSpaceEvenly;
      flex-wrap: wrap;

      width: 90%;
    }
  }
}
